* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navcolor {
    background-color: #80202b;
  }
  
  .footcolor {
    background-color: #80202b;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f8f9fa;
  }
  
  .dropdown-item:hover {
    background-color: #e9ecef;
    color: #343a40;
  }
  
  .borderp {
    border: 2px solid black;
  }
  
  .firstvideo {
    width: 60vw;
  }
  
  .taj {
    text-align: justify;
  }
  
  .servicecontainer {
    /* text-decoration: none; */
    position: relative;
    display: flex;
    justify-content: space-around;
    top: -60px;
    width: 40%;
    z-index: 2;
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 20px;
    box-shadow: 0 8px 26px 0 rgb(0 0 0 / 8%);
    height: 270px;
    background-color: white;
  }
  
  .servicecontainer  a {
    color: black;
    text-decoration: none;
  }
  .grid-items {
    margin: auto;
    width: 10vw;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10px;
    text-align: center;
    transition: 300ms;
    z-index: 1;
  }
  
  .grid-items:hover {
    background-color: rgb(239, 239, 239);
    cursor: pointer;
    border-radius: 10px;
  }
  
  .aref {
    text-decoration: none;
    color: black;
  }
  
  .aref:hover{
    color: blue;
  }
  
  /* Contact */
  .contactcs {
    background-color: #e9ecef;
    display: block;
  }
  
  .chead {
    text-align: center;
    color: #000000;
    list-style: none;
    padding: 10px;
  }
  .cf {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
  }
  .cinput,
  .ctextarea {
    border: 0;
    outline: 0;
    padding: 1em;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: "Merriweather", sans-serif;
    resize: none;
  }
  #input-submit {
    color: white;
    background: #80202b;
    cursor: pointer;
  }
  #input-submit:hover {
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  
  .ctextarea {
    height: 126px;
  }
  
  .half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
  }
  
  .right {
    width: 50%;
  }
  
  .left {
    margin-right: 2%;
  }
  
  @media (max-width: 480px) {
    .half {
      width: 100%;
      float: none;
      margin-bottom: 0;
    }
  }
  
  .cf:before,
  .cf:after {
    content: " ";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  /* End */
  .ourserv {
    width: 80%;
    color: white;
    text-align: justify;
    font-size: 1.3rem;
    padding: 20px;
  }
  .ourservp {
    margin-top: 32px;
  }
  .mainservicecont {
    position: relative;
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/backgroundimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 50vh;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%),
      inset 0 -1px 0 rgb(255 255 255 / 15%);
  }
  .marginb {
    margin-bottom: 150px;
  }
  .DanceServices {
    display: flex;
    justify-content: center;
    background-color: white;
  }
  
  .BeautyServices {
    display: flex;
    justify-content: center;
    background-color: white;
  }
  
  .servimages {
    border-radius: 10px;
  }
  
  .goodfont {
    font-family: var(--bs-body-font-family);
  }
  
  .fontsizeserv {
    font-size: 2rem;
  }
  .authform {
    width: 40vw;
  }
  @media screen and (max-width: 1110px) {
    .authform {
      width: 65vw;
    }
  }
  
  .aboutimg{
    width: 45vw;
    /* border: 2px solid black; */
  }
  
  .aboutdesc{
    text-align: justify;
  }
  
  .searchbar{
    width: 200px;
  }
  
  .servtitle{
    text-align: center;
  }
  
  /* shop */
  
  .w-60{
    width: 60%;
  }
  
  .w-40{
    width: 40%;
  }
  
  .product-details {
    width: 100%;
    padding: 60px 10vw;
    display: flex;
    justify-content: space-between;
  }
  
  .image-slider {
    width: 500px;
    height: 500px;
    position: relative;
    background-size: cover;
  }
  
  .product-images {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100px;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .product-images img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
  }
  
  .product-images img.active {
    opacity: 0.5;
  }
  
  .details {
    width: 50%;
  }
  
  .details .product-brand {
    text-transform: capitalize;
    font-size: 30px;
  }
  
  .details .product-short-des {
    font-size: 25px;
    line-height: 30px;
    height: auto;
    margin: 15px 0 30px;
  }
  
  .product-price {
    font-weight: 700;
    font-size: 30px;
  }
  
  .product-actual-price {
    font-size: 30px;
    opacity: 0.5;
    text-decoration: line-through;
    margin: 0 20px;
    font-weight: 300;
  }
  
  .product-discount {
    color: #ff7d7d;
    font-size: 20px;
  }
  
  .product-sub-heading {
    font-size: 30px;
    text-transform: uppercase;
    margin: 60px 0 10px;
    font-weight: 300;
  }
  
  .size-radio-btn {
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #383838;
    border-radius: 50%;
    margin: 10px;
    margin-left: 0;
    line-height: 80px;
    text-transform: uppercase;
    color: #383838;
    cursor: pointer;
  }
  
  .size-radio-btn.check {
    background: #383838;
    color: #fff;
  }
  
  .btn-1 {
    width: 48%;
    padding: 20px;
    border-radius: 5px;
    background: none;
    border: 1px solid #80202b;
    color: #80202b;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
    margin: 20px 0;
  }
  
  .cart-btn {
    margin-top: 50%;
    /* margin-right: 50%; */
    background: #383838;
    color: #fff;
  }
  
  .detail-des {
    padding: 0 10vw;
    text-transform: capitalize;
  }
  
  .heading {
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  .des {
    color: #383838;
    line-height: 25px;
    white-space: pre-wrap;
    margin-bottom: 50px;
  }
  
  .bigimg{
    width: 30vw;
    height: 30vh;
  }
  
  .servicesdescpara{
    text-align: justify;
  }
  .afterservices{
    max-height: 600px;
  }
  .card{
    /* width: 1263px; */
    padding: 0.2rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    border: none;
  }
  .containers {
    border: solid grey;
    width: 30%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
  }
  .card-img-top {
    width: auto;
    height: 20rem;
  }
  .card-body {
    font-size: 1rem;
  }
  .box{
    display: flex;
    flex-direction: column;
  }
  
  /* product */
  .price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  .servicess{
    /* border: 1px solid black; */
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }